@font-face {
    font-family: "bak gothic";
    src: url(https://cinimin.net/fonts/MS-Gothic.ttf);
}

*{
    image-rendering: pixelated;
    box-sizing: border-box;
    scrollbar-color: white black;
    font-family: 'ms gothic';
}

::-webkit-scrollbar {
    background: black;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgb(133, 133, 133);
    width: 2px;
    
}

::-webkit-scrollbar-track{
    width: 5px;
}

body {
    line-height: 1.1em;
    background-color: black;
    background-image: url('img/background.png');
    background-size: cover;
    color: red;
}

hr {
    color: #666;
    border-color: #666;
}

header {
    margin: 70px auto 60px auto;
    width: max-content;
}

header h1 {
    font-weight: normal;
}

main {
    background-image: url('img/yeyek.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto 0 auto;
    width: 800px;
    height: 650px;
    padding: 0 100px 100px 100px;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 100%;
    overflow: hidden;
}

main div {
    overflow: scroll;
}

br {
    
}

#nav {
    list-style-type: none;
    padding-left: 10px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#nav::-webkit-scrollbar {
    display: none;
}

#nav hr {
    margin-top: 0;
    margin-right: 80px;
    margin-bottom: 5px;
}

a {
    color: red;
}

a:hover {
    color: white;
}

#feed {
    width: auto;
    background-color: black;
    padding-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#feed img {
    height: 56px;
    width: auto;
    float: left;
    margin: 3px 10px 0 0;
    cursor: pointer;
}

#feed h3 {
    margin: 10px  auto 0 0;
    font-weight: normal;
    line-height: 1.1em;
}

#feed h2 {
    font-weight: normal;
    margin-bottom: 7px;
}

#feed h3 a {
    width: min-content;
    text-decoration: none;
    color: red;
}

#feed h3 a:hover {
    color: white;
}

#feed h6 {
    margin: 0 auto 3px 20px;
    font-weight: normal;
}

footer {
    margin: auto;
    margin-top: 50px;

}

.shade {
    background-color: rgba(20,20,20,0.9); 
    width: 100vw; 
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.popupImg {
    position: absolute;
    top: 0;
    z-index: 99;
    image-rendering: auto;
    box-shadow: 2.7px 5.4px 5.4px hsl(0deg 0% 0% / 0.35);
}

@media (pointer:none), (pointer:coarse) {
    *{
        font-family: 'bak gotchic';
    }
}
