body {
    background-color: black;
    color: white;
    background-image: url("img/static-television-gif-downsized_large.gif");
    background-size: 464px;
    font-size: 16px;
    width: 1920px;
    
}

.unselectable {
    -moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	-ms-user-select: none;
	user-select: none;
}

header {
    font-size: 7em;
    line-height: 0.65;
    letter-spacing: 0;
    width: 100%;
    background-color: black;
}

main {
    font-family: 'ms gothic';
    background-color: black;
    margin-top: 15px;
    height: 720px;
    overflow: hidden;
}

#mainbg {
    position: absolute;
    width: 1920px;
    color: #444;
    overflow: hidden;
    text-align: justify;
    text-justify: auto;
}

#totals {
    text-align: right;
    position: absolute;
    width: 1920px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12em;
    line-height: 0.65;
    letter-spacing: 0;
    top: 300px;
}

.timeline {
    position: absolute;
    height: 12px;
    width: 1920px;
    top: 900px;
    background-color: rgb(223, 0, 37);
    background-image: url("img/5005.png");
}

#heart_scrub {
    position: absolute;
    top: -35px;
    left: -50px;
}

#album {
    position: absolute;
    z-index: 99;
    left: 10px;
    top: 370px;
    width: 500px;
    height: 400px;
    
}

#album img {
    width: 500px;
    height: 400px;
    
}
