* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
    padding-top: 30px;
}

main {
    margin: auto;
    width: 1200px;
}

#results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding-top: 10px;
}

#results #item {
    width: 100%;
    height: auto;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 5px;
}

#results #item img{
    width: 100%;
    height: auto;
    image-rendering: pixelated;
    padding: 0;
}

#results #item div{
    text-align: center;
    margin: 0;
}

#results #item p{
    text-align: center;
    padding: 0;
    margin: 0;
}

#edit {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

#nav {
    padding-top: 30px;
}

#name {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: bold;
}

.button {
    background-color: white;
    margin: 0 20px;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    background-color: gray;
    color: white;
}

.smash {
    background-color: green;
    color: white;
}

.smash:hover {
    background-color: lightgreen;
    color: white;
    box-shadow: 0 0 15px 3px lightgreen;
}

.pass {
    background-color: red;
    color: white;
}

.pass:hover {
    background-color: lightcoral;
    color: white;
    box-shadow: 0 0 15px 3px lightcoral;
}

@media only screen and (max-width: 500px) {
	main {
        margin: auto;
        width: 480px;
    }
	
    #results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: 100%;
        padding-top: 10px;
    }

}