*{
	box-sizing: border-box;
}

:root {
	/* colors */
	--bg_color: #000000;
	--white: #ffffff;
	--black: #000000;
    --dark_gray: #1a1a1a;
    --gray: #272626;
	--light_gray: #4b4b4b;
    --lighter_gray: #575757;
	--pink: #e0245e;
	--light_pink: #ec5786;
	--lighter_pink: #291929;
	--shadow_color: rgba(0, 0, 0, 0);
	--highlightTxt: black;

	--main_width: 1000px;
	--thumbnail-width: 100%;
	--std_margin: 20px;
    --std_pad: 15px;
	--main_font: "Shanti", Helvetica, sans-serif;

}

body {
    background-color: black;
    font-family: sans-serif;
}

a {
    color: var(--pink);
}

.desc {
    color: white;
    margin: var(--std_margin) auto;
    padding: var(--std_pad);
    width: var(--main_width);
}

header {
    margin: var(--std_margin) auto;
    padding: var(--std_margin);
    width: max-content;
    font-family: sans-serif;
    text-align: center;
    color: var(--pink);
    background-color: var(--gray);
    border-radius: 5px;
}

header h1 { 
    margin: 0;

}

main {
    width: var(--main_width);
    margin: var(--std_margin) auto;
    padding: var(--std_pad);
    color: var(--pink);
    background-color: var(--gray);
    border-radius: 5px;
    color: var(--pink);
}

.top-panel {
    height: 30px;
    width: 100%;
    margin: auto;
    margin-left: 0;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    align-content: center;
    column-gap: var(--std_pad);
}

.search {
    padding: 0;
    margin: auto;
    margin-left: 0;
    width: 100%;
    display: flex;
    column-gap: var(--std_pad);
}

.search input {
    margin: 0;
    padding: 3px var(--std_pad) 3px var(--std_pad);
    grid-column: 1/2;
    grid-row: 1/2;
    width: 30%;
    background-color: var(--gray);
    height: 100%;
    color: white;
    border: none;
    border-bottom: 3px solid var(--light_gray);
	outline: none;
	transition: 0.3s;
	background-color: var(--gray);
	color: var(--white);
	font-size: 1em;
}

#threshInput {
    width: 15%;
}

.search input:focus {
	border-color: var(--pink);
}

.search input:hover {
	border-color: var(--pink);
}

.search .button {
    background-color: var(--dark_gray);
    border: none;
    color: white;
    width: min-content;
    padding: 3px var(--std_pad) 3px var(--std_pad);
    border-radius: 3px;
    cursor: pointer;
}

.search .button:hover {
    background-color: var(--light_gray);
}

#loader {
    margin: var(--std_pad) auto;
    border: 6px solid var(--light_gray); /* Light grey */
    border-top: 6px solid var(--pink); /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.5s linear infinite;
    justify-content: end;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    /* 25% { transform: rotate(120deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(260deg); } */
    100% { transform: rotate(360deg); }
  }

#debug {
    display: none;
    margin: auto;
    width: 100%;
    text-align: center;
    color: white;
}

#imgboard {
    padding: var(--std_pad);
    display: none; /* is set to grid on load */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    justify-content: start;
    gap: 20px;
}
/* width = columns * (gap + width) - gap */
#imgboard .imgcontainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /* border: 3px var(--light_gray) solid; */
    background-color: var(--dark_gray);
    border-radius: 0 0 5px 5px;
    transition: 0.3s;
    color: white;
    text-decoration: none;
    z-index: 1;
}

.imgcontainer img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    transition: 0.3s;
    z-index: 2;
}

#imgboard a:hover {
    box-shadow: 0px 0px 20px 0px rgba(255, 0, 234, 0.5);
}
